/* Set default styles for all elements */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

/* Define styles for the sidebar */
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 80px;
	height: 100%;
	background-color: #f0f0f0;
	border-right: 1px solid black;
}

.sidebar a {
	display: block;
	padding: 10px;
}

/* Define styles for the sidebar icons */
.sidebar a img {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
  }  

/* Define styles for the sidebar text */
.sidebar-text {
    text-align: center;
    font-size: 15px;
	font-weight: bold;
    margin-bottom: 10px;
    padding-top: 10px;
  }  

/* Define styles for the main content area */
.main-content {
	margin-left: 80px;
	padding: 20px;
}

.page-title {
	font-weight: bold;
	text-align: center;
}

/* Define styles for the notifications icon */
.notifications {
	position: fixed;
	top: 0;
	right: 0;
	padding: 10px;
	text-align: center;
}

.notifications img {
	width: 40px;
	height: 40px;
}

.notifications p {
	margin: 0;
	padding: 5px;
	font-size: 13px;
}

.textbox-container {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	margin-left: 50px;
}

.top-container {
	display: flex;
	flex-direction: row;
}

.top-coloums {
	display: flex;
	flex-direction: column;
	margin-left: calc(50% - 100px);
}

.dropdown-box {
	width: 150px;
	align-self: flex-start;
	margin-left: calc(50% - 100px);
	margin-bottom: 20px;
}
  
.dropdown-box select {
	width: 100%;
	padding: 5px;
	border: 1px solid black;
	box-sizing: border-box;
	cursor: pointer;
}
  
/* Position the dropdown arrow to the right */
.dropdown-box select::-ms-expand {
	display: none;
}

.dropdown-box select::after {
	content: "\25BC";
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translateY(-50%);
	pointer-events: none;
}

.star-rating-box {
	width: 150px;
	align-self: flex-start;
	margin-left: calc(50% - 100px);
}

.star-rating {
	width: 10px;
}

.star-rating-checked {
	filter: invert(58%) sepia(97%) saturate(1138%) hue-rotate(0deg) brightness(103%) contrast(107%);
}

.small-textbox {
	width: calc(40% - 2px);
	height: fit-content;
	border: 1px solid black;
	padding: 5px;
	box-sizing: border-box;
	margin-bottom: 40px;
	align-self: flex-start;
	margin-left: 0;
}

.large-textbox {
	width: calc(100% - 50px);
	min-height: 150px;
	border: 1px solid black;
	padding: 5px;
	box-sizing: border-box;
	align-self: flex-start;
	resize: vertical;
	overflow: auto;
	vertical-align: top;
	text-align: left;
	display: flex;
	align-items: flex-start;
}

.button-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	margin-left: 50px;
}
  
.send-button {
	box-sizing: border-box;
	align-self: flex-start;
	width: 80px;
	/* Centres the button to the box */
	margin: 0 calc(((100% - 50px) / 2) - 40px);

	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
}

.profile-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}


.profile-column {
	display: flex;
	flex-direction: column;
}

.profile-name {
	text-align: center;
	font-size: 20px;
	align-self: flex-start;
	margin: 0;
	margin-left: 33px;
	margin-bottom: 10px;
}

.profile-row {
	display: flex;
	flex-direction: row;
}

.profile-img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	margin-left: 25px;
	margin-right: 15px;
	border: 1px solid black;
}

.profile-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	line-height: 0.1;
}

.brlarge {
	display: block;
	margin-bottom: 20px;
}

.sidebar-line {
	display: flex;
	align-self: flex-start;
	border-top: 1px solid black;
	width: calc(100% + 38px);
	margin-left: -20px;
	margin-top: 25px;
	margin-bottom: 25px;
}

table {
	border-collapse: collapse;
	border: 1px solid black;
	width: 75%;
	text-align: center;
}

td, th {
	border: 1px solid black;
	padding: 10px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

.warning {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.login{
	display: flex;
	align-self: flex-start;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 calc(50% - (350px / 2));
	margin-top: calc(50% - (500px / 2));
	width: 350px;
	height: 500px;
	border-radius: 10%;
	background-color: #f0f0f0;
}

.loginbox{
	border-radius: 10px;
	padding: 5px;
	width: 200px;
	height: 30px;
}

.absence-text {
	display: flex;
	align-self: flex-start;
	flex-direction: column;
	margin: 0 100px;
}

.absence-dropdown {
	display: flex;
	align-self: flex-start;
	flex-direction: column;
	margin: 0 10px;
}

.absence-textbox {
	width: 250px;
	min-height: 100px;
	border: 1px solid black;
	padding: 5px;
	box-sizing: border-box;
	align-self: flex-start;
	resize: vertical;
	overflow: auto;
	vertical-align: top;
	text-align: left;
	display: flex;
	align-items: flex-start;
}

.absence-warnings {
	display: flex;
	align-self: flex-start;
	flex-direction: row;
	align-self: center;
	margin: 0 calc(50% - 25px);
}

.absence-warning-table {
	display: flex;
	align-self: flex-start;
	flex-direction: column;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	justify-content: center;
}

.result-main {
	display: flex;
	align-self: flex-start;
	flex-direction: row;
	margin-left: 100px;
}

.result-box {
	border: 1px solid black;
	height: 400px;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
}

.result-small-box {
	width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.result-big-box {
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	line-height: 0px;
}

.result-small-box img {
	max-width: 100%;
	height: auto;
}

.index-column {
	display: flex;
	align-self: flex-start;
	flex-direction: row;
	margin-left: calc(50% - (300px + (25px / 2)));
}

.index-profile-box {
	display: flex;
	align-self: flex-start;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: calc(50% - (300px / 2));
	margin-top: 40px;
	width: 300px;
	height: 100px;
	border-radius: 25px;
	background-color: #f0f0f0;
}

.index-other-box {
	display: flex;
	align-self: flex-start;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
	margin-right: 25px;
	width: 300px;
	height: 100px;
	border-radius: 25px;
	background-color: #f0f0f0;
}
