/* Set default styles for all elements */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

/* Define styles for the sidebar */
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 80px;
	height: 100%;
	background-color: #f0f0f0;
	border-right: 1px solid black;
}

.sidebar a {
	display: block;
	padding: 10px;
}

/* Define styles for the sidebar icons */
.sidebar a img {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
  }  

/* Define styles for the sidebar text */
.sidebar-text {
    text-align: center;
    font-size: 15px;
	font-weight: bold;
    margin-bottom: 10px;
    padding-top: 10px;
  }  

/* Define styles for the main content area */
.main-content {
	margin-left: 80px;
	padding: 20px;
}

.page-title {
	font-weight: bold;
	text-align: center;
}

/* Define styles for the notifications icon */
.notifications {
	position: fixed;
	top: 0;
	right: 0;
	padding: 10px;
	text-align: center;
}

.notifications img {
	width: 40px;
	height: 40px;
}

.notifications p {
	margin: 0;
	padding: 5px;
	font-size: 13px;
}

.textbox-container {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	margin-left: 50px;
}

.top-container {
	display: flex;
	flex-direction: row;
}

.top-coloums {
	display: flex;
	flex-direction: column;
	margin-left: calc(50% - 100px);
}

.dropdown-box {
	width: 150px;
	align-self: flex-start;
	margin-left: calc(50% - 100px);
	margin-bottom: 20px;
}
  
.dropdown-box select {
	width: 100%;
	padding: 5px;
	border: 1px solid black;
	box-sizing: border-box;
	cursor: pointer;
}
  
/* Position the dropdown arrow to the right */
.dropdown-box select::-ms-expand {
	display: none;
}

.dropdown-box select::after {
	content: "\25BC";
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translateY(-50%);
	pointer-events: none;
}

.star-rating-box {
	width: 150px;
	align-self: flex-start;
	margin-left: calc(50% - 100px);
}

.star-rating {
	width: 10px;
}

.star-rating-checked {
	filter: invert(58%) sepia(97%) saturate(1138%) hue-rotate(0deg) brightness(103%) contrast(107%);
}

.small-textbox {
	width: calc(40% - 2px);
	height: fit-content;
	border: 1px solid black;
	padding: 5px;
	box-sizing: border-box;
	margin-bottom: 40px;
	align-self: flex-start;
	margin-left: 0;
}

.large-textbox {
	width: calc(100% - 50px);
	min-height: 150px;
	border: 1px solid black;
	padding: 5px;
	box-sizing: border-box;
	align-self: flex-start;
	resize: vertical;
	overflow: auto;
	vertical-align: top;
	text-align: left;
	display: flex;
	align-items: flex-start;
}

.button-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	margin-left: 50px;
}
  
.send-button {
	box-sizing: border-box;
	align-self: flex-start;
	width: 80px;
	/* Centres the button to the box */
	margin: 0 calc(((100% - 50px) / 2) - 40px);

	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
}
/* Define styles for login*/
.login{
	position: fixed;
	top: 15%;
	left: 42.5%;
	width: 350px;
	height: 500px;
	border-radius: 10%;
	background-color: #f0f0f0;
}
.txt1{
	top: 30%;
	left: 45%;
	position: fixed;
	width: 200px;
	height: 1px;
}
.txt2{
	top: 35%;
	left: 45%;
	position: fixed;
	width: 200px;
	height: 1px;
}
.txt3{
	top: 40%;
	left: 45%;
	position: fixed;
	width: 200px;
	height: 1px;
}
.txt4{
	top: 45%;
	left: 45%;
	position: fixed;
	width: 200px;
	height: 1px;
}
#txtbox{
	border-radius: 10px;
	padding: 5px;
	width: 200px;
	height: 30px;
}
.button {
	position: fixed;
	top: 50%;
	left: 45%;
	background-color: #7393B3;
	border-radius: 10px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
  }
